# these are the packages for production
pymongo==3.12.0
matplotlib==3.7.1
pandas==2.0.1
numpy==1.24.3
torch==2.0.1
scikit-learn==1.2
flask==2.3.2
flwr=1.4.0
flask_cors==3.0.10
requests~=2.31.0
schedule~=1.2.0
apscheduler==3.10.1